.MostBought{
 
}
.Title-content{
   margin: 30px 0px 0px 10px;
   font-size: 25px;
   font-family: 'Work Sans', sans-serif;
}
.Content{
   margin: 10px 10px;
  background: #ffffff;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
.books{
   padding-top: 10px;
   display: flex;
   flex-direction: column;
   line-height:11px;
   margin-left: 15px;
   font-family: 'Work Sans', sans-serif;
}

.title-content{
   font-size: 12px;
   display: flex;
   align-items: center;
}
.authour-content{
   font-size: 10px;
}
.novalue-content{
   font-size:13px;
   font-weight: bold;
   text-decoration: line-through;
}
.value-content{
   font-size: 20px;
   font-weight: bold
}
.button{

}

.foto{
   margin: 10px;
   height: 140px;
   width: 120px;
}